@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --font-display: "Manrope", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-neutral-900: #080C20;
  --color-neutral-400: #777F98;
  --color-neutral-000: #FFFFFF;
  --color-cyan-400: #3EE9E5;
  --color-Red-400: #FF2965;
  --color-Blue-800: #093F68;
  --color-Blue-500: #6B8CA4;
}


@layer components {
  .text-preset-1 {
    font-size: 3rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
}