@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --font-display: "Manrope", sans-serif;
  --breakpoint-3xl: 120rem;
  --color-Neutral-900: #080C20;
  --color-Neutral-400: #777F98;
  --color-Neutral-000: #FFFFFF;
  --color-Cyan-400: #3EE9E5;
  --color-Red-400: #FF2965;
  --color-Blue-800: #093F68;
  --color-Blue-500: #6B8CA4;
}


@layer components {
  .text-preset-1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-1-mobile {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-3 {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-4 {
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-5 {
    font-size: 0.938rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-6 {
    font-size: 0.938rem;
    line-height: 1.3rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
  .text-preset-7 {
    font-size: 0.75rem;
    line-height: 1.2rem;
    letter-spacing: 0;
    font-family: "Manrope", sans-serif;
  }
}

